extends layout
block content
    h1 Student page for: #{student.name}
    p The ID for the student is: #{student.id}
    h2 Programme
    p #{student.programme.name}
    h2 Modules
    table(border=1)
        tr
            th Code
            th Name
        for item in student.modules
            tr
                td #{item.code}
                td #{item.name}